:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header a {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header a:hover {
  color: #9757d3; /* Purple accent color */
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 4400px;
  margin: 0 auto;
  background: #11071f;
  overflow: hidden;
}
.header {
  position: relative;
  width: 1980px;
  height: 113px;
  margin: 0 0 0 -270px;
  background: #190b2d;
  z-index: 16;
  box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.1);
}
.portofolio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 63px;
  top: 25px;
  left: 312px;
  color: #ffffff;
  font-family: Preahvihear, var(--default-font-family);
  font-size: 50px;
  font-weight: 400;
  line-height: 63px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1px;
  z-index: 16;
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: auto;
  height: 27px;
  top: 43px;
  left: 1345px;
  color: #ffffff;
  font-family: Plus Jakarta Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 25.2px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.4px;
  z-index: 12;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: auto;
  height: 27px;
  top: 43px;
  left: 1111px;
  color: #ffffff;
  font-family: Plus Jakarta Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 25.2px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.4px;
  z-index: 11;
}
.lab {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: auto;
  height: 27px;
  top: 43px;
  left: 1581px;
  color: #ffffff;
  font-family: Plus Jakarta Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 25.2px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.4px;
  z-index: 13;
}
.flex-row-b {
  position: relative;
  width: 1256px;
  height: 513px;
  margin: 66px 0 0 111px;
  z-index: 87;
}
.gradient {
  position: absolute;
  width: 385px;
  height: 431px;
  top: 0;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/AaxYJFqZdg.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
}
.arrow {
  position: absolute;
  width: 121.105px;
  height: 117.878px;
  top: 4px;
  left: 218.775px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/2T0P1BABKK.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
}
.hello-silmi-yushini {
  position: absolute;
  width: 245px;
  height: 20px;
  top: 25.962px;
  left: 322px;
  font-family: Preahvihear, var(--default-font-family);
  font-size: 19px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  letter-spacing: -0.5px;
  z-index: 23;
}
.hello-am {
  position: relative;
  color: #ffffff;
  font-family: Preahvihear, var(--default-font-family);
  font-size: 19px;
  font-weight: 400;
  line-height: 97px;
  text-align: center;
  letter-spacing: -0.5px;
}
.silmi-yushini {
  position: relative;
  color: #7127ba;
  font-family: Preahvihear, var(--default-font-family);
  font-size: 19px;
  font-weight: 400;
  line-height: 97px;
  text-align: center;
  letter-spacing: -0.5px;
}
.desain-tanpa-judul {
  position: absolute;
  width: 235px;
  height: 313px;
  top: 58px;
  left: 75px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/NvMWdkYv0c.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
  border-radius: 117.5px;
}
.designer-who {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 141px;
  height: 31px;
  top: 131.681px;
  left: 342px;
  color: #ffffff;
  font-family: Preahvihear, var(--default-font-family);
  font-size: 17px;
  font-weight: 400;
  line-height: 30.713px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  letter-spacing: 0.34px;
  z-index: 18;
}
.stunning-introduction {
  position: absolute;
  width: 883px;
  height: 126px;
  top: 163px;
  left: 330px;
  font-family: Preahvihear, var(--default-font-family);
  font-size: 50px;
  font-weight: 400;
  line-height: 63.332px;
  text-align: left;
  letter-spacing: 1px;
  z-index: 30;
}
.good-design {
  position: relative;
  color: #ffffff;
  font-family: Preahvihear, var(--default-font-family);
  font-size: 50px;
  font-weight: 400;
  line-height: 63.332px;
  text-align: left;
  letter-spacing: 1px;
}
.introduction {
  position: relative;
  color: #683a92;
  font-family: Preahvihear, var(--default-font-family);
  font-size: 50px;
  font-weight: 400;
  line-height: 63.332px;
  text-align: left;
  letter-spacing: 1px;
}
.ellipse {
  position: absolute;
  width: 384px;
  height: 167.264px;
  top: 180px;
  left: 750px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/nZAWXUpJzL.png)
    no-repeat center;
  background-size: cover;
  z-index: 25;
}
.good-stories {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 216px;
  height: 20px;
  top: 292px;
  left: 330px;
  color: #ffffff;
  font-family: Preahvihear, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 19.873px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.22px;
  z-index: 19;
}
.linkedin {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 380px;
  left: 222px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/jOat6KPen8.png)
    no-repeat center;
  background-size: cover;
  z-index: 87;
  overflow: hidden;
}
.group {
  position: absolute;
  width: 1.45%;
  height: 3.56%;
  top: 74.27%;
  left: 11.31%;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/zNOq82xLbk.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 85;
}
.github {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 381px;
  left: 183px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/TjfmfFTVLF.png)
    no-repeat center;
  background-size: cover;
  z-index: 86;
  overflow: hidden;
}
.front-end-developer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 90px;
  top: 396px;
  left: 89px;
  color: #ffffff;
  font-family: Preahvihear, var(--default-font-family);
  font-size: 50px;
  font-weight: 400;
  line-height: 90px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1px;
  z-index: 14;
}
.software-engineer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 38px;
  top: 475px;
  left: 89px;
  color: #ffffff;
  font-family: Preahvihear, var(--default-font-family);
  font-size: 21px;
  font-weight: 400;
  line-height: 37.939px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.42px;
  z-index: 29;
}
.front-end-developer-portfolio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 1146px;
  height: 90px;
  margin: 28px 0 0 197px;
  color: #ffffff;
  font-family: Preahvihear, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 39.746px;
  text-align: left;
  letter-spacing: 0.44px;
  z-index: 20;
}
.flex-row {
  position: relative;
  width: 1165px;
  height: 700px;
  margin: 0 0 0 162px;
  z-index: 50;
}
.gradient-1 {
  position: absolute;
  width: 625px;
  height: 700px;
  top: 0;
  left: 276px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/xKsHLWPTN5.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.skills-technologies {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 72px;
  top: 113px;
  left: 5px;
  color: #ffffff;
  font-family: Preahvihear, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 72px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.8px;
  z-index: 21;
}
.mask-group {
  position: absolute;
  width: 570px;
  height: 168.061px;
  top: 228px;
  left: 595px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/C7zckZvitm.png)
    no-repeat center;
  background-size: cover;
  z-index: 49;
}
.group-2 {
  position: absolute;
  width: 119.988px;
  height: 117px;
  top: 39.962px;
  left: 56px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/rH7wavVH6Q.png)
    no-repeat center;
  background-size: cover;
  z-index: 55;
}
.flex-column-ba {
  position: absolute;
  width: 256px;
  height: 83px;
  top: 49.962px;
  left: 202px;
  font-size: 0px;
  z-index: 53;
}
.soft-skill {
  display: block;
  position: relative;
  height: 24px;
  margin: 0 0 0 0;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 26px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 52;
}
.project-management-public-speaking {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 232px;
  height: 48px;
  margin: 11px 0 0 1px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 8px;
  font-weight: 500;
  line-height: 10.5px;
  text-align: left;
  z-index: 53;
}
.rectangle {
  position: absolute;
  width: 570px;
  height: 192.676px;
  top: 229px;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/4TYw1RvSKo.png)
    no-repeat center;
  background-size: cover;
  z-index: 31;
  border-radius: 15px;
}
.mask-group-3 {
  position: relative;
  width: 570px;
  height: 168.061px;
  margin: 0 0 0 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/uh2iZg8V6r.png)
    no-repeat center;
  background-size: cover;
  z-index: 32;
}
.group-4 {
  position: absolute;
  width: 121.987px;
  height: 115px;
  top: 36px;
  left: 50px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/oxObufhEq2.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
}
.flex-column-b {
  position: absolute;
  width: 323px;
  height: 83px;
  top: 46px;
  left: 197px;
  font-size: 0px;
  z-index: 34;
}
.hard-skill {
  display: block;
  position: relative;
  height: 24px;
  margin: 0 0 0 0;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 26px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.microsoft-office-communication {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 322px;
  height: 48px;
  margin: 11px 0 0 1px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 8px;
  font-weight: 500;
  line-height: 10.5px;
  text-align: left;
  z-index: 34;
}
.rectangle-5 {
  position: absolute;
  width: 570px;
  height: 192.676px;
  top: 231px;
  left: 595px;
  background: #2b114f;
  z-index: 50;
  border-radius: 15px;
  box-shadow: 4px 7px 26px 0 rgba(0, 0, 0, 0.12);
}
.rectangle-6 {
  position: relative;
  width: 570px;
  height: 192.676px;
  margin: -0.04px 0 0 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/OYScMWcuTe.png)
    no-repeat center;
  background-size: cover;
  z-index: 51;
  border-radius: 15px;
}
.experience {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 72px;
  top: 611px;
  left: 487px;
  color: #ffffff;
  font-family: Preahvihear, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 72px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.8px;
  z-index: 22;
}
.flex-row-dff {
  position: relative;
  width: 605px;
  height: 204px;
  margin: 0 0 0 482px;
  z-index: 40;
}
.rectangle-7 {
  position: absolute;
  width: 570px;
  height: 204px;
  top: 0;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/DNCuyengNi.png)
    no-repeat center;
  background-size: cover;
  z-index: 38;
  border-radius: 15px;
}
.mask-group-8 {
  position: relative;
  width: 570px;
  height: 177.938px;
  margin: 0 0 0 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/3Nvt34mmPK.png)
    no-repeat center;
  background-size: cover;
  z-index: 39;
}
.group-9 {
  position: absolute;
  width: 121.987px;
  height: 121.759px;
  top: 38.116px;
  left: 50px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/6KoGFRDfzE.png)
    no-repeat center;
  background-size: cover;
  z-index: 46;
}
.flex-column {
  position: absolute;
  width: 235px;
  height: 67.761px;
  top: 85.76px;
  left: 195px;
  z-index: 43;
}
.studi-independent-msib {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 232px;
  height: 50.821px;
  top: 0;
  left: 3px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 8px;
  font-weight: 500;
  line-height: 10.5px;
  text-align: left;
  z-index: 41;
}
.rectangle-a {
  position: absolute;
  width: 119px;
  height: 34.939px;
  top: 32.822px;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/Y83NKXpri1.png)
    no-repeat center;
  background-size: cover;
  z-index: 43;
}
.learn-more {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 77px;
  height: 13.764px;
  top: 9.588px;
  left: 18px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 10px;
  font-weight: 500;
  line-height: 13.764px;
  text-align: center;
  white-space: nowrap;
  z-index: 44;
}
.infinite-learning-batch {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25.411px;
  top: 48.703px;
  left: 197px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 26px;
  font-weight: 600;
  line-height: 25.411px;
  text-align: left;
  white-space: nowrap;
  z-index: 40;
}
.contact {
  display: block;
  position: relative;
  height: 45px;
  margin: 1993px 0 0 184px;
  color: #ffffff;
  font-family: Preahvihear, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 26;
}
.cross-functional-team {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 703px;
  height: 108px;
  margin: 0 0 0 184px;
  color: #ffffff;
  font-family: Preahvihear, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 27.1px;
  text-align: left;
  letter-spacing: 0.3px;
  z-index: 27;
}
.social-icons {
  position: relative;
  width: 110.001px;
  height: 18.272px;
  margin: 31px 0 0 184px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/E7MzjA90Nj.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 83;
}
.flex-row-fbd {
  position: absolute;
  width: 1442px;
  height: 1371px;
  top: 1961px;
  left: 0;
  z-index: 95;
}
.mask-group-b {
  position: absolute;
  width: 570px;
  height: 168.061px;
  top: 0;
  left: 482px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/uoMncjWYhB.png)
    no-repeat center;
  background-size: cover;
  z-index: 57;
}
.group-c {
  position: absolute;
  width: 119.988px;
  height: 117px;
  top: 39.962px;
  left: 56px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/XRiVzFWqnh.png)
    no-repeat center;
  background-size: cover;
  z-index: 66;
}
.flex-column-b-d {
  position: absolute;
  width: 258px;
  height: 99px;
  top: 49.962px;
  left: 200px;
  font-size: 0px;
  z-index: 63;
}
.magang-mandiri {
  display: block;
  position: relative;
  height: 24px;
  margin: 0 0 0 2px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 26px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 60;
}
.magang-mandiri-dinas {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 232px;
  height: 48px;
  top: 35px;
  left: 3px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 8px;
  font-weight: 500;
  line-height: 10.5px;
  text-align: left;
  z-index: 61;
}
.rectangle-e {
  position: absolute;
  width: 119px;
  height: 33px;
  top: 66px;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/2ZPHXjGUai.png)
    no-repeat center;
  background-size: cover;
  z-index: 63;
}
.learn-more-f {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 77px;
  height: 13px;
  top: 9px;
  left: 18px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  text-align: center;
  white-space: nowrap;
  z-index: 64;
}
.regroup {
  position: absolute;
  width: 79px;
  height: 1371px;
  top: 0;
  left: 1257px;
  z-index: 95;
}
.icon-park-click {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 1192px;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/QnG66fBip7.png)
    no-repeat center;
  background-size: cover;
  z-index: 95;
  overflow: hidden;
}
.icon-park-click-10 {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 1193px;
  left: 48px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/gneB5itp1d.png)
    no-repeat center;
  background-size: cover;
  z-index: 93;
  overflow: hidden;
}
.icon-park-click-11 {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 0;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/L3GNGs4i2p.png)
    no-repeat center;
  background-size: cover;
  z-index: 94;
  overflow: hidden;
}
.rectangle-12 {
  position: absolute;
  width: 570px;
  height: 192.676px;
  top: 3px;
  left: 482px;
  background: #2b114f;
  z-index: 58;
  border-radius: 15px;
  box-shadow: 4px 7px 26px 0 rgba(0, 0, 0, 0.12);
}
.rectangle-13 {
  position: relative;
  width: 570px;
  height: 192.676px;
  margin: -0.04px 0 0 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/tTBBLRx7Lm.png)
    no-repeat center;
  background-size: cover;
  z-index: 59;
  border-radius: 15px;
}
.gradient-14 {
  position: absolute;
  width: 625px;
  height: 700px;
  top: 135px;
  left: 810px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/mxwLUkHyQP.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.gradient-15 {
  position: absolute;
  width: 642px;
  height: 720px;
  top: 144px;
  left: 603px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/3SiD2HQjF8.png)
    no-repeat center;
  background-size: cover;
}
.portfolio {
  position: absolute;
  width: 700px;
  height: 410px;
  top: 300px;
  left: 700px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/meQyB5Eyyj.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
  transition: transform 0.3s ease;
}
.portfolio:hover {
  transform: scale(1.05);
}
.featured-project {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 350px;
  left: 188px;
  color: #9757d3;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.32px;
  z-index: 72;
}
.papais-cctv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 51px;
  top: 369px;
  left: 188px;
  color: #ccd6f6;
  font-family: Poppins, var(--default-font-family);
  font-size: 34px;
  font-weight: 600;
  line-height: 51px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.68px;
  z-index: 71;
}
.card {
  position: absolute;
  width: 669px;
  height: 165px;
  top: 450px;
  left: 186px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/b04MRy14JK.png)
    no-repeat center;
  background-size: cover;
  z-index: 67;
  border-radius: 14px;
}
.mengembangkan-website-pantauan {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 581px;
  height: 81px;
  top: 34px;
  left: 30px;
  color: #ccd6f6;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  z-index: 70;
}
.icon-park-click-16 {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 651px;
  left: 213px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/HsmsfcAvfh.png)
    no-repeat center;
  background-size: cover;
  z-index: 75;
  overflow: hidden;
}
.icon-park-click-17 {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 652px;
  left: 261px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/b8vJCZjFLR.png)
    no-repeat center;
  background-size: cover;
  z-index: 73;
  overflow: hidden;
}
.icon-park-click-18 {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 0;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/8TGvgqFjGO.png)
    no-repeat center;
  background-size: cover;
  z-index: 74;
  overflow: hidden;
}
.gradient-19 {
  position: absolute;
  width: 572px;
  height: 641px;
  top: 730px;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/0SW8VqL2yH.png)
    no-repeat center;
  background-size: cover;
  z-index: 5;
}
.portfolio-1a {
  position: absolute;
  width: 700px;
  height: 410px;
  top: 860px;
  left: 150px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/OnB5AnFr41.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.portfolio-1a:hover {
  transfo90%;
  height: 90%;
  margin: 5% auto
  position: relative;
  width: 279px;
  height: 173px;
  margin: 157px 0 0 291px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/oj0RuYcnuU.png)
    no-repeat center;
  background-size: cover;
  z-index: 96;
}
.featured-project-1b {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 895px;
  left: 1232px;
  color: #9757d3;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.32px;
  z-index: 92;
}
.uptd-puskesmas-kota {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 51px;
  top: 919px;
  left: 997px;
  color: #ccd6f6;
  font-family: Poppins, var(--default-font-family);
  font-size: 34px;
  font-weight: 600;
  line-height: 51px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.68px;
  z-index: 91;
}
.card-1c {
  position: absolute;
  width: 669px;
  height: 165px;
  top: 988px;
  left: 773px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/1WKtJcdCHu.png)
    no-repeat center;
  background-size: cover;
  z-index: 89;
  border-radius: 14px;
}
.website-development {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 597px;
  height: 81px;
  top: 43px;
  left: 15px;
  color: #ccd6f6;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  z-index: 90;
}
.flex-row-a {
  position: absolute;
  width: 1249px;
  height: 729px;
  top: 3158px;
  left: 169px;
  z-index: 82;
}
.gradient-1d {
  position: absolute;
  width: 625px;
  height: 700px;
  top: 0;
  left: 624px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/hB6EWY5yFP.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.regroup-1e {
  position: absolute;
  width: 79px;
  height: 729px;
  top: 0;
  left: 27px;
  z-index: 82;
}
.click-icon {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 516px;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/VAT262bYTR.png)
    no-repeat center;
  background-size: cover;
  z-index: 82;
  overflow: hidden;
}
.click-icon-1f {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 517px;
  left: 48px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/qEq7729S0o.png)
    no-repeat center;
  background-size: cover;
  z-index: 80;
  overflow: hidden;
}
.click-icon-20 {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 0;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/C6DCsStUJj.png)
    no-repeat center;
  background-size: cover;
  z-index: 81;
  overflow: hidden;
}
.gradient-21 {
  position: absolute;
  width: 642px;
  height: 720px;
  top: 9px;
  left: 398px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/spZk0gdaoj.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.portfolio-22 {
  position: absolute;
  width: 700px;
  height: 410px;
  top: 160px;
  left: 550px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/MGmVsSijJN.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
  transition: transform 0.3s ease;
}
.portfolio-22:hover {
  transform: scale(1.05);
}
.mask-group-23 {
  position: absolute;
  width: 582.878px;
  height: 341px;
  top: 0;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/VKyrKcKMDB.png)
    no-repeat center;
  background-size: cover;
  z-index: 47;
}
.featured-project-24 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 215px;
  left: 2px;
  color: #9757d3;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.32px;
  z-index: 79;
}
.siskeudes-remote {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 51px;
  top: 234px;
  left: 2px;
  color: #ccd6f6;
  font-family: Poppins, var(--default-font-family);
  font-size: 34px;
  font-weight: 600;
  line-height: 51px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.68px;
  z-index: 78;
}
.card-25 {
  position: absolute;
  width: 669px;
  height: 165px;
  top: 315px;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-12-12/Z6DzFRCmv9.png)
    no-repeat center;
  background-size: cover;
  z-index: 68;
  border-radius: 14px;
}
.text-24 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 570px;
  height: 81px;
  top: 34px;
  left: 34px;
  color: #ccd6f6;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  z-index: 77;
}
